---
import { Icon } from "astro-icon/components";

import SectionTitle from "@components/global/SectionTitle.astro";

import { faqData } from "@data/faq";
---

<section
  id="faq"
  class="flex min-h-screen items-center justify-center px-7 py-24"
>
  <div class="flex w-full flex-col items-center gap-y-8">
    <SectionTitle title="الأسئلة الشائعة 🤔" />
    <div class="grid gap-7 border-t border-white pt-8 md:grid-cols-2 md:gap-16">
      {
        faqData.map((faq) => {
          return (
            <div class="rounded-xl bg-gray-900/90 p-5">
              <p class="mb-2 flex items-center text-base font-medium md:text-xl">
                <Icon
                  name="ph:question-fill"
                  class="ml-2 h-5 w-5 flex-shrink-0 text-gray-400"
                />
                {faq.question}
              </p>
              <p class="text-sm text-gray-200 md:text-base">{faq.answer}</p>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
