---
import { faqData } from "../../data/faq";
import { Icon } from "astro-icon";
---

<section id="faq" class="py-10">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:py-16 lg:px-6">
    <h2 class="mb-8 text-4xl font-extrabold tracking-tight">
      Frequently asked questions
    </h2>
    <div
      class="grid gap-7 border-t border-white pt-8 text-left md:grid-cols-2 md:gap-16"
    >
      {
        faqData.map((faq) => {
          return (
            <div class="rounded-xl bg-gray-900/90 p-5">
              <h3 class="mb-2 flex items-center text-base font-medium md:text-xl">
                <Icon
                  name="ph:question-fill"
                  class="mr-2 h-5 w-5 flex-shrink-0 text-gray-400"
                />
                {faq.question}
              </h3>
              <p class="text-sm text-gray-200 md:text-base">{faq.answer}</p>
            </div>
          );
        })
      }
      <div class="rounded-xl bg-gray-900/90 p-5">
        <h3 class="mb-2 flex items-center text-base font-medium md:text-xl">
          <Icon
            name="ph:question-fill"
            class="mr-2 h-5 w-5 flex-shrink-0 text-gray-400"
          />
          How do I register?
        </h3>
        <a
          href="https://ppxhl3j9e1y.typeform.com/to/yuaJBxv3"
          target="_blank"
          class="text-sm text-gray-200 underline-offset-4 hover:underline md:text-base"
          >Click Here to fill the form as a particpant :) <br />
        </a>
        <a
          href="https://ppxhl3j9e1y.typeform.com/to/uuOSmmYg"
          target="_blank"
          class="text-sm text-gray-200 underline-offset-4 hover:underline md:text-base"
          >Or Here to fill it as a volunteer !
        </a>
      </div>
    </div>
  </div>
</section>
