---
import Header from "../components/game-camp/ui/Header.svelte";
// Sections
import Hero from "../components/game-camp/Hero.astro";
import Speakers from "../components/game-camp/Speakers.astro";
import People from "../components/game-camp/people/People.astro";
import Workshops from "../components/game-camp/Workshops.astro";
import Faq from "../components/game-camp/Faq.astro";
// Stuff
import Spacer from "../components/game-camp/ui/Spacer.astro";
import ScrollUp from "../components/game-camp/ui/ScrollUp.svelte";
import "../layouts/styles.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/logos/gdsc.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Game Camp</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="preload"
      href="/images/bg/game-camp.gif"
      as="image"
      type="image/gif"
    />
  </head>
  <body class="bg-black text-slate-100">
    <Header client:load />
    <Hero />
    <Spacer />
    <Speakers />
    <Spacer />
    <People />
    <Spacer />
    <Workshops />
    <Spacer />
    <Faq />
    <ScrollUp client:only="svelte" />
  </body>
</html>
