---
// Sections
import Header from "../components/game-camp/Header.svelte";
import Hero from "../components/game-camp/Hero.astro";
import Speakers from "../components/game-camp/people/Speakers.astro";
import People from "../components/game-camp/people/People.astro";
import Workshops from "../components/game-camp/Workshops.svelte";
import Faq from "../components/game-camp/Faq.astro";
// Stuff
import Spacer from "../components/Spacer.astro";
import ScrollUp from "../components/game-camp/ScrollUp.svelte";
import "../layouts/styles.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/gdsc.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Game Camp</title>
    <link rel="preload" href="/bg/game-camp.gif" as="image" type="image/gif" />
  </head>
  <body class="bg-black text-slate-100">
    <div class="hack h-screen">
      <Header client:only="svelte" />
      <Hero />
    </div>
    <Spacer />
    <Speakers />
    <Spacer />
    <People />
    <Spacer />
    <Workshops client:load />
    <Spacer />
    <Faq />
    <ScrollUp client:only="svelte" />
  </body>
</html>
