---
import Header from "@organisms/Header.astro";
import Home from "@organisms/Home.astro";
import Speakers from "@organisms/Speakers.astro";
import People from "@organisms/People.astro";
import Schedule from "@organisms/Schedule.astro";
import Faq from "@organisms/Faq.astro";

import Spacer from "@atoms/Spacer.astro";
import ScrollUp from "@atoms/ScrollUp.astro";

import BackGround from "@assets/images/backgrounds/1.gif";
---

<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#050c21" />
    <link rel="icon" type="image/png" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- Primary Metadata -->
    <meta
      name="description"
      content="Ù…Ø¹Ø³ÙƒØ± ØªØ·ÙˆÙŠØ± Ø£Ù„Ø¹Ø§Ø¨ Ø¨Ø§Ù„Ù„ØºØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© ÙŠÙ…ØªØ¯ Ù„Ø®Ù…Ø³Ø© Ø£ÙŠØ§Ù… ÙŠØ¬Ù‡Ø²Ùƒ Ù„ØªØ·ÙˆÙŠØ± Ù„Ø¹Ø¨ØªÙƒ Ø§Ù„Ø®Ø§ØµØ© Ù…Ù† Ø®Ù„Ø§Ù„ Ù…Ø¬Ù…ÙˆØ¹Ø© Ù…ØªÙ†ÙˆØ¹Ø© Ù…Ù† ÙˆØ±Ø´ Ø§Ù„Ø¹Ù…Ù„ØŒ Ø¨ÙŠÙ†Ù…Ø§ ØªØªÙ†Ø§ÙØ³ Ø£ÙŠØ¶Ù‹Ø§ Ù„Ø¥Ù†Ø´Ø§Ø¡ Ù„Ø¹Ø¨Ø© ÙØ§Ø¦Ø²Ø© ðŸ†"
    />
    <title>Ù…Ø¹Ø³ÙƒØ± Ø§Ù„Ù„Ø¹Ø¨Ø© ðŸ‘¾</title>
    <!-- Preloading Font & Background -->
    <link rel="preload" href={BackGround.src} as="image" type="image/gif" />
    <link
      rel="preload"
      href="/fonts/Rubik.woff2"
      as="font"
      type="font/woff2"
      crossorigin="crossorigin"
    />
  </head>
  <body class="text-slate-100">
    <Header />
    <Home />
    <Spacer />
    <Speakers />
    <Spacer />
    <People />
    <Spacer />
    <Schedule />
    <Spacer />
    <Faq />
    <ScrollUp />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik.woff2") format("woff2-variations");
    font-weight: 300 900;
    font-display: swap;
  }

  * {
    font-family: "Rubik", sans-serif;
    scroll-behavior: smooth;
  }

  #home {
    background-image: url("../assets/images/backgrounds/1.gif");
    background-size: cover;
  }

  #speakers {
    background-image: url("../assets/images/backgrounds/2.gif");
    background-size: cover;
  }

  #people {
    background-image: url("../assets/images/backgrounds/3.gif");
    background-size: cover;
  }

  #schedule {
    background-image: url("../assets/images/backgrounds/4.gif");
    background-size: cover;
  }

  #faq {
    background-image: url("../assets/images/backgrounds/5.gif");
    background-size: cover;
  }
</style>
