---
import Landing from "../components/index/Landing.svelte";
import "../layouts/styles.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logos/gdsc.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Game Camp</title>
    <link rel="preload" href="/bg/index.gif" as="image" type="image/gif" />
  </head>

  <body id="index" class="h-screen overflow-hidden text-slate-100">
    <Landing client:load />
  </body>
</html>
