---
import Landing from "../components/index/Landing.astro";
import "../layouts/styles.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/logos/gdsc.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Game Camp</title>
    <link
      rel="preload"
      href="/images/bg/index.gif"
      as="image"
      type="image/gif"
    />
  </head>

  <body id="index" class="h-screen overflow-hidden">
    <Landing />
  </body>
</html>
