---
import Logos from "./parts/Logos.astro";
import ActionButton from "./parts/ActionButton.astro";

import { description } from "../../pages/index.astro";
---

<section
  id="home"
  class="flex min-h-screen items-center justify-center px-7 py-24"
>
  <div
    class="flex flex-col gap-y-10 rounded-2xl bg-gray-900/70 p-5 text-center md:max-w-4xl md:gap-9 md:p-10"
  >
    <h1 class="text-3xl font-bold md:text-6xl">معسكر اللعبة؟</h1>

    <p class="font-medium leading-7 md:text-xl md:leading-10">
      {description}
    </p>
    <!-- Sign up now button -->
    <ActionButton />
    <!-- logos -->
    <Logos />
  </div>
</section>
