---
import { navData } from "@/assets/data";
---

<nav class="fixed top-3 z-50 hidden w-full justify-center lg:flex">
  <ul id="desktopMenu" class="flex gap-x-10 rounded-full p-6">
    {
      navData.map((link) => (
        <li>
          <a href={link.href} class="text-xl font-medium">
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  if (window.innerWidth >= 1024) {
    const navbar = document.getElementById("desktopMenu") as HTMLElement;

    window.addEventListener("scroll", () => {
      if (window.scrollY > 10) {
        navbar.classList.add("bg-gray-900/80");
      } else {
        navbar.classList.remove("bg-gray-900/80");
      }
    });
  }
</script>
