---
import EmblaCarousel from "@/components/organisms/carousel_js/EmblaCarousel.tsx";
---

<!-- you should make a Carousel.astro and have the carousel, navigation buttons, section container and section title inside of it -->
<section
  id="carousel"
  class="flex min-h-screen items-center justify-center px-7 py-24"
>
    <div>
        <EmblaCarousel client:load />
    </div>

</section>