---
import { Icon } from "astro-icon";

import PartnersLogos from "@atoms/PartnersLogos.astro";
---

<section
  id="home"
  class="flex min-h-screen items-center justify-center px-7 py-24"
>
  <div class="mt-10 flex w-full flex-col items-center gap-y-8">
    <div
      class="flex flex-col gap-7 rounded-2xl bg-gray-900/70 p-5 text-center md:max-w-4xl md:gap-9 md:p-10"
    >
      <h1 class="text-3xl font-bold md:text-6xl">ูุนุณูุฑ ุงููุนุจุฉุ</h1>
      <p class="font-medium leading-7 md:text-xl md:leading-10">
        ูุนุณูุฑ ุชุทููุฑ ุฃูุนุงุจ ุจุงููุบุฉ ุงูุนุฑุจูุฉ ููุชุฏ ูุฎูุณุฉ ุฃูุงู ูุฌูุฒู ูุชุทููุฑ ูุนุจุชู
        ุงูุฎุงุตุฉ ูู ุฎูุงู ูุฌููุนุฉ ูุชููุนุฉ ูู ูุฑุด ุงูุนููุ ุจูููุง ุชุชูุงูุณ ุฃูุถูุง ูุฅูุดุงุก
        ูุนุจุฉ ูุงุฆุฒุฉ ๐
      </p>

      <div class="flex flex-col items-center justify-center gap-6 text-center">
        <p class="flex gap-2 text-xl font-bold md:text-xl">
          ุดุงุฑููุง! <Icon name="fa-solid:hand-point-down" />
        </p>
        <div class="flex gap-6 text-lg font-semibold">
          <a
            href="#"
            target="_blank"
            class="flex gap-2 transition duration-300 ease-in-out hover:scale-110"
          >
            <Icon name="fa-solid:user-circle" class="h-6 w-6" /> ูุชุฏุฑุจ
          </a>
          <a
            href="#"
            target="_blank"
            class="flex gap-2 transition duration-300 ease-in-out hover:scale-110"
          >
            <Icon name="fa-solid:hands-helping" class="h-6 w-6" /> ูุชุทูุน
          </a>
        </div>
      </div>

      <PartnersLogos />
    </div>
  </div>
</section>
