---
const formLink = "https://forms.gle/epTi8hWKxWLauDF39";
const btnText = "سجل الآن 🎯";
---

<div class="mt-3 flex justify-center">
  <a
    href={formLink}
    target="_blank"
    class="rounded-full border-2 px-6 py-4 text-center font-medium transition-transform hover:scale-90 md:text-xl"
    >{btnText}</a
  >
</div>
