---
import { Image } from "astro:assets";

import gdsc from "@assets/images/logos/gdsc.png";
import yu from "@assets/images/logos/Yu.svg";
---

<div
  class="flex flex-row-reverse items-center justify-center gap-x-9 text-center"
>
  <a
    href="https://gdscyu.netlify.app/"
    target="_blank"
    class="transition-transform hover:scale-90"
  >
    <Image src={gdsc} alt="Google DSC Al-Yamamah Logo" class="w-28" />
  </a>
  <a
    href="https://yu.edu.sa/"
    target="_blank"
    class="transition-transform hover:scale-90"
  >
    <Image src={yu} alt="Al-Yamamah Univirsity Logo" class="w-44" />
  </a>
</div>
