@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Audiowide", cursive;
}

#index {
  background-image: url("/bg/index.gif");
  background-size: cover;
}

.hack {
  background-image: url("/bg/game-camp.gif");
  background-size: cover;
}

#speakers {
  background-image: url("/bg/game-camp2.gif");
  background-size: cover;
}

#people {
  background-image: url("/bg/game-camp3.gif");
  background-size: cover;
}

#Workshops {
  background-image: url("/bg/game-camp4.gif");
  background-size: cover;
}

#faq {
  background-image: url("/bg/game-camp5.gif");
  background-size: cover;
}
