@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Audiowide", cursive;
}

html {
  scroll-behavior: smooth;
}

section {
  @apply flex min-h-screen items-center justify-center px-7 py-24;
}

.sectiondiv {
  @apply flex w-full flex-col items-center gap-y-8;
}

#index {
  background-image: url("/bg/index.gif");
  background-size: cover;
}

#landing {
  background-image: url("/bg/game-camp.gif");
  background-size: cover;
}

#speakers {
  background-image: url("/bg/game-camp2.gif");
  background-size: cover;
}

#people {
  background-image: url("/bg/game-camp3.gif");
  background-size: cover;
}

#Schedule {
  background-image: url("/bg/game-camp4.gif");
  background-size: cover;
}

#faq {
  background-image: url("/bg/game-camp5.gif");
  background-size: cover;
  @apply py-5;
}
